.input-group-addon{
  background-color: #D5D5D5;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 9%;
  border: 1.3px solid gray;
}
.input-group-addon-2{

  background-color: #D5D5D5;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 9%;
  border: 1.4px solid gray;
}
.input-group-addon-3{
  background-color: #D5D5D5;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 4%;
  border: 1.4px solid gray;
}
.form-group{
  margin-top: 20px;
}
.input-group{
  padding-top: 18px;
}
.input-group:nth-child(3){
  padding-top: 2px;
  margin-top:10px;
}
.input-group:nth-child(4){
  padding-top: 5px;
  margin-top: 10px;
}
.input-group:nth-child(5){
  margin-top: 5px;
  padding-top: 10px;
}
#loading, #results{
  display:none;
}
